* html {
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --xiketic-main-BG: #0f0f0f;
  --slateGray-accentColor-main: #23282b;
  --opal-accentColor-secondary: #b7cece;
  --lavendarGray-mainNavBar: #bbbac6;
  --main-font-color: #e2e2e2;

  /* Typography */
  --typography: "Roboto", sans-serif;
}

body {
  font-family: var(--typography);
}

h1,
h2,
h5 {
  font-weight: 500;
  color: var(--main-font-color);
}

/* Jumbotron */

.jumbotron {
  height: 100vh;
  background-color: var(--xiketic-main-BG);
}

.jumbotron h1 {
  color: var(--main-font-color);
}

.jumbotronContents {
  width: 65%;
}

/* About */

.aboutSection {
  background: url(../img/coding_background_image.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--main-font-color);
}

.imgPortrait {
  border-radius: 60%;
}

.card-title,
.card-body {
  font-family: var(--typography);
}

.card-title {
  font-weight: 500;
}

.card-body {
  font-size: 1.5rem;
  font-weight: 300;
}

/* Skills */

.skillsSection {
  background-color: var(--slateGray-accentColor-main);
}

.imgLogo,
.imgPortrait {
  max-width: 50%;
  height: auto;
}

/* Projects */

.projectSection {
  background: url(../img/portfolio_background_image.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--main-font-color);
}

.projectsThumbNail {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* Contact Me */

.contactMe {
  background-color: var(--slateGray-accentColor-main);
}

/* Modal */

.modal-content {
  background-color: var(--xiketic-main-BG);
}

/* Footer */

footer{
  background-color: var(--xiketic-main-BG);
  height: 10vh;
  color: var(--main-font-color)
}
